<header>
  <div class="title">
    <h1>Quiz Azur Lane</h1>
  </div>

  <nav>
    <div class="nav-left">
      <button><a routerLink="/home">Home</a></button>
    </div>
    <div class="nav-right">
      <h2>{{ getUsername }}</h2>
      <button *ngIf="!isConnected"><a routerLink="/login">Login</a></button>
      <button *ngIf="!isConnected"><a routerLink="/register">Register</a></button>
      <button *ngIf="isConnected"><a (click)="logout()">Se déconnecter</a></button>
    </div>
  </nav>
</header>
