.quiz {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: black 0px 0px 10px;
}



.result {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}


.answer {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black 0px 0px 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #2ca8ff;
  }
}

.name {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
