.quiz {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: black 0px 0px 10px;
}

.question {
  h3 {
    padding: 10px 10px 0 10px;
    text-align: center;
  }
}

.reponses {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .reponse {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: #2ca8ff;
    }
  }

  .lock {
    background-color: #2ca8ff;
  }
}

.answer {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black 0px 0px 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #2ca8ff;
  }
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
