.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.submit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: black 0px 0px 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    background-color: #2ca8ff;
  }

  &:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
